# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Large binarys
bin/

# Not yet finished
/server/*
/scripts/
/app/pages/servers/1.21.8/download.vue

!/server/api/
!/server/modules/
