@layer components {
    :root {
        overscroll-behavior: none;
    }

    body {
        background-image: url("/images/background-old.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    li.cn-toast[data-type="success"] {
        @apply bg-(--success-border)! text-(--success-text)!;
    }
    li.cn-toast[data-type="info"] {
        @apply bg-(--info-border)! text-(--info-text)!;
    }
    li.cn-toast[data-type="warning"] {
        @apply bg-(--warning-border)! text-(--warning-text)!;
    }
    li.cn-toast[data-type="error"] {
        @apply bg-(--error-border)! text-(--error-text)!;
    }

    .flashing-border {
        animation: flashing-border 1.5s ease-in-out infinite;
    }
}

@layer utilities {
    /* Firefox */
    .better-scroll-bar {
        scrollbar-width: thin;
        scrollbar-color: var(--color-primary) var(--color-background);
    }

    /* Chrome, Edge, Safari */
    .better-scroll-bar::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .better-scroll-bar::-webkit-scrollbar-track {
        background: var(--color-background);
    }

    .better-scroll-bar::-webkit-scrollbar-thumb {
        background: var(--color-primary);
        border-radius: 4px;
    }

    .better-scroll-bar::-webkit-scrollbar-thumb:hover {
        background: var(--color-primary);
    }

    /* 隐藏上下箭头 */
    .better-scroll-bar::-webkit-scrollbar-button {
        display: none;
        width: 0;
        height: 0;
    }
}

@keyframes flashing-border {
    0% {
        border-color: var(--border-1);
    }
    50% {
        border-color: var(--border-2);
    }
    100% {
        border-color: var(--border-1);
    }
}

