@import "tailwindcss";

@font-face {
    font-family: "mcpixel";
    src: url("/assets/fonts/Minecraft.ttf") format("truetype");
}

@font-face {
    font-family: "mcpixel-ten";
    src: url("/assets/fonts/MinecraftTen.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: "mcpixel-ten";
    background-image: url("/assets/images/079228d04164b88ae2de0dceb2ab89d4.png");
    background-size: cover;
    background-position: center 0%;
}

img:not(.has-event) {
    pointer-events: none;
}

*:not(.selectable) {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
    exclude: rootscrollgutter;
}
